.about-targets {
	overflow: hidden;
	padding: 55px 0 80px;
	background-color: #20222d;

	.heading {
		&__desc {
			max-width: 375px;
		}

		@media (max-width: 1024px) {
			padding-right: 40px;
			padding-left: 40px;
		}
	}

	.slider-pagination {
		position: static;
		margin-top: 30px;
	}

	&__buttonrow {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 60px auto 0;
		max-width: 970px;

		.button {
			flex: none;
			width: 50%;
		}

		@media (max-width: 1024px) {
			padding: 0 40px;
		}

		@media (max-width: 640px) {
			flex-direction: column-reverse;

			.button {
				width: 100%;
			}
		}
	}

	&__list {
		margin: auto;
		overflow: visible;
		width: 100%;
		max-width: 375px;
	}
}

.about-videoblock {
	position: relative;
	margin: auto;
	padding: 0 362px 60px 0;
	height: 420px;
	max-width: 970px;

	&:not(:last-child) {
		margin-bottom: 100px;
	}

	&__video {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;
		width: 563 / 970 * 100%;
		height: 360px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translateZ(0);

		video {
			display: block;
			flex: none;
			height: 100%;
			transform: translateZ(0);
		}

		&.is-inited {
			&::before {
				opacity: 0;
			}

			.about-videoblock__btn {
				display: none;
			}
		}

		@media (max-width: 1024px) {
			top: 0;
			bottom: auto;
			z-index: 1;
			width: calc(100% - 40px);
			height: 289px;
		}
	}

	&__btn {
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background-color: #e6cd77;
		transition: background-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 0.1);
		transform: translateZ(0);
		cursor: pointer;

		svg {
			display: block;
			width: 15px;
			height: 15px;
		}

		.is-device-desktop &:hover {
			background-color: $color-white;
		}

		@media (max-width: 1024px) {
			left: 0;
			top: 149px;
			bottom: auto;
			z-index: 3;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 40px 15px 40px 40px;
		height: 100%;
		font-family: $font-merriweather;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #aaadb9;
		background-color: #181a22;
		transform: translateZ(0);
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.33;
		color: $color-white;

		@media (max-width: 1024px) {
			margin-bottom: 10px;
			font-size: 18px;
		}
	}

	&__text {
		@media (max-width: 1024px) {
			font-size: 12px;
		}
	}

	&__tip {
		margin-top: auto;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: $color-white;

		@media (max-width: 1024px) {
			margin-top: 25px;
		}

		@media (max-width: 600px) {
			display: none;
		}
	}

	&__duration {
		font-size: 12px;

		@media (max-width: 600px) {
			display: none;
		}
	}

	@media (max-width: 1024px) {
		margin: 0;
		padding: 209px 40px 0 0;
		width: 100px;
		height: auto;
		box-sizing: border-box;

		&:not(:last-child) {
			margin: 0;
		}
	}
}

.about-foundation {
	position: relative;
	padding: 120px 40px 80px;
	background: #e6cd77 url("../images/netbg-light.png") 49.95% 0;

	.heading {
		margin-bottom: 60px;
		padding-right: 0;
		padding-left: 0;

		&__desc {
			max-width: 340px;
		}
	}

	.advantages__item {
		margin: 0;
		padding-right: 25px;
		padding-left: 25px;
		box-sizing: border-box;
	}

	.slider-pagination {
		position: static;
	}

	&__btn {
		margin-top: 60px;
		max-width: 100%;
	}
}

.about-leads {
	padding: 80px 0 0;
	background-color: #20222d;

	.heading {
		padding-right: 40px;
		padding-left: 40px;
	}

	.eventstats {
		margin-bottom: 120px;

		@media (max-width: 1024px) {
			margin-top: 60px;
		}

		@media (max-width: 980px) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	&__pattern {
		padding-bottom: 80px;
		background: #20222d url("../images/netbg.png") 49.95% 0;
	}

	&__wrap {
		margin: 60px auto 80px;
		padding-left: 0;
		width: 100%;
		max-width: 1280px;

		.slider-pagination {
			position: static;
			margin-top: 30px;
		}

		&.no-margin {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 60px auto 0;
		padding: 0;
		width: 100%;
		height: 60px;
		max-width: 820px;

		@media (max-width: 890px) {
			margin-top: 60px;
			max-width: calc(100% - 80px);
		}
	}
}

.about-lead {
	position: relative;
	margin-bottom: 40px;
	padding: 40px 60px 0 0;
	height: 600px;
	max-width: 888px;

	&__img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin: auto;
		width: 215px;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		img {
			display: block;
			flex: none;
			width: 100%;
		}
	}

	&__video {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		overflow: hidden;
		margin: auto;
		width: 215px;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 296px 40px 40px;
		height: 100%;
		font-family: $font-merriweather;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 0.3px;
		color: $color-white;
		background-color: #181a22;
	}

	&__name {
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 1.31;

		@media (max-width: 600px) {
			margin-bottom: 5px;
			font-size: 18px;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #aaadb9;

		@media (max-width: 600px) {
			font-size: 12px;
		}
	}

	&__textcontainer {
		position: relative;
		margin-top: 58px;

		@media (max-width: 600px) {
			margin-top: 30px;
		}
	}

	&__quote {
		position: absolute;
		z-index: 0;

		svg {
			width: 45px;
			height: 36px;
			fill: rgba(255, 255, 255, 0.05);

			@media (max-width: 600px) {
				width: 30px;
				height: 24px;
			}
		}

		&--before {
			left: -12px;
			top: -16px;
		}

		&--after {
			right: 0px;
			bottom: -30px;
			transform: rotate(-180deg);
		}
	}

	&__text {
		position: relative;
		z-index: 1;

		p {
			margin: 0;

			&:not(:first-child) {
				margin-top: 25px;
			}
		}
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 72px;

		a {
			display: block;
			margin-right: 20px;

			.is-device-desktop &:hover {
				svg {
					fill: #e6cd77;
				}
			}
		}

		svg {
			display: block;
			width: 18px;
			height: 18px;
			fill: $color-white;
			transition: fill 0.3s ease;
		}
	}

	@media (max-width: 1024px) {
		margin-right: auto;
		margin-left: auto;
	}

	@media (max-width: 960px) {
		height: auto;
	}

	@media (max-width: 900px) {
		padding: 40px 40px 0;
	}
}

.about-vice-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: visible;
	margin-left: 40px;
	width: 310px;
}

.about-vice {
	position: relative;
	flex: none;
	margin-right: 0;
	margin-bottom: 0;
	padding: 40px 70px 0 0;
	width: 270px;
	height: 449px;
	box-sizing: border-box;

	&__img {
		position: absolute;
		right: 40px;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: 240px;
		height: 280px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		img {
			display: block;
			flex: none;
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 255px 30px 20px;
		height: 100%;
		font-family: $font-merriweather;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: $color-white;
		background-color: #181a22;
	}

	&__name {
		margin-bottom: 5px;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.31;
	}

	&__title {
		font-weight: 300;
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 0.3px;
		color: #aaadb9;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: auto;

		a {
			display: block;
			margin-right: 17px;

			.is-device-desktop &:hover {
				svg {
					fill: #e6cd77;
				}
			}
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: $color-white;
			transition: fill 0.3s ease;
		}
	}
}

.about-stats {
	position: relative;
	padding: 120px 0 109px;
	background-color: #e6cd77;

	.heading {
		margin-bottom: 60px;
	}

	&__wrap {
		margin: auto;
		max-width: 970px;

		@media (max-width: 500px) {
			margin-top: 60px;
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 30px;

		.about-stats__item {
			&:nth-child(1) {
				margin-right: 28px;
				max-width: 120px;
			}

			&:nth-child(2) {
				max-width: 138px;
			}
		}
	}

	&__item {
		display: flex;
		flex: none;
		align-items: center;
		justify-content: flex-start;

		&--big {
			width: 100%;
		}

		@media (max-width: 767px) {
			display: block;
		}
	}

	&__num {
		font-family: $font-manoldstyle;
		font-size: 68px;
		line-height: 1;
		letter-spacing: -4.3px;
		white-space: nowrap;
		color: #20222d;

		span {
			font-family: $font-merriweather;
			margin-left: 12px;
			font-size: 48px;
			letter-spacing: -3px;
		}
	}

	&__text {
		margin-top: 5px;
		max-width: 178px;
		font-family: $font-merriweather;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #181a22;

		b {
			display: block;
			font-weight: 700;
		}

		@media (max-width: 767px) {
			font-size: 12px;

			b {
				display: inline;
			}
		}

		@media (max-width: 500px) {
			max-width: 224px;
		}
	}

	@media (max-width: 1024px) {
		padding: 90px 40px;
	}
}

.about-geo {
	position: relative;
	padding: 25px 0 120px;
	background-color: #e6cd77;

	.heading {
		margin-bottom: 80px;

		&__text {
			max-width: 514px;
		}

		&__desc {
			max-width: 300px;
		}
	}

	&__video {
		margin: auto;
		max-width: 970px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin: -16px;
	}

	@media (max-width: 1024px) {
		display: none;
	}
}

.geovideo {
	position: relative;
	flex: none;
	margin: 16px;
	width: calc(33.3333% - 32px);
	height: 247px;
	font-family: $font-merriweather;
	background-color: #edd480;

	&__video {
		position: relative;
		display: none;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__country {
		position: absolute;
		left: 40px;
		right: 40px;
		top: 27px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.33;
		color: #20222d;
		transition: color 0.3s ease;
	}

	&__desc {
		position: absolute;
		left: 35px;
		right: 35px;
		bottom: 35px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 0.1);
	}

	&__num {
		margin-right: 15px;
		font-family: $font-manoldstyle;
		font-size: 74px;
		line-height: 0.8;
		color: #20222d;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #181a22;
	}

	.is-device-desktop &:hover {
		.geovideo__country {
			color: $color-white;
		}

		.geovideo__desc {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.about-ways {
	margin: 120px 0 130px;

	.heading {
		margin-bottom: 105px;

		&__text {
			max-width: 556px;
		}

		&__desc {
			max-width: 300px;
		}

		@media (max-width: 1024px) {
			margin-bottom: 60px;
		}
	}

	&__list {
		margin: auto;
		max-width: 970px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: 46px;
		}
	}

	&__num {
		flex: none;
		margin-right: 20px;
		width: 103px;
		font-family: $font-manoldstyle;
		font-size: 48px;
		line-height: 0.83;
		color: #e6cd77;

		@media (max-width: 640px) {
			order: 3;
			margin-right: 0;
			margin-left: 15px;
			width: 43px;
			font-size: 20px;
		}
	}

	&__text {
		flex: none;
		margin-right: 50px;
		width: 132px;
		font-family: $font-merriweather;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: $color-white;

		@media (max-width: 640px) {
			order: 1;
			margin-right: 15px;
			width: 90px;
			font-size: 12px;
		}
	}

	&__line {
		position: relative;
		margin-right: 0;
		width: 100%;
		height: 1px;
		background-color: #4c4e5d;

		&::before {
			content: "";
			position: absolute;
			left: -15px;
			top: 50%;
			width: 5px;
			height: 5px;
			background-color: #e6cd77;
			transform: rotate(45deg) translateY(-50%);
			transform-origin: 50%;

			@media (max-width: 640px) {
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			right: -15px;
			top: 50%;
			width: 5px;
			height: 5px;
			background-color: #51525e;
			transform: rotate(45deg) translateY(-50%);
			transform-origin: 50%;

			@media (max-width: 640px) {
				display: none;
			}
		}

		@media (max-width: 640px) {
			order: 2;
		}
	}

	&__percents {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		height: 2px;
		background-color: #e6cd77;
		transform: translateY(-25%);

		@media (max-width: 640px) {
			height: 1px;

			&::after {
				content: "";
				position: absolute;
				right: -3px;
				top: 0;
				width: 5px;
				height: 5px;
				background-color: #e6cd77;
				transform: rotate(45deg) translateY(-50%);
				transform-origin: 50%;
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 100px auto 0;
		width: 100%;
		height: 60px;
		max-width: 970px;

		@media (max-width: 767px) {
			display: none;
		}
	}

	@media (max-width: 1024px) {
		margin: 80px 0 0;
		padding-right: 40px;
		padding-left: 40px;
	}
}

.about-women {
	position: relative;
	padding: 120px 0;
	background-color: #e6cd77;

	.heading {
		&__text {
			&::before {
				display: none;
			}
		}

		&__dot {
			display: none;
		}

		&__desc {
			max-width: 375px;
		}
	}

	.about-leads__wrap {
		margin-top: 105px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 80px auto 0;
		max-width: 828px;
	}

	@media (max-width: 1024px) {
		display: none;
	}
}

.about-women-video {
	margin: 150px auto 0;
	max-width: 828px;
	font-family: $font-merriweather;

	&__videoblock {
		position: relative;
		margin-left: -9px;
		width: 100%;
		height: 467px;

		&::before {
			content: "";
			position: absolute;
			left: 60px;
			top: -60px;
			z-index: 0;
			width: 150vw;
			height: 474px;
			background-color: #edd480;
		}
	}

	&__video {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		iframe {
			width: 100%;
			height: 100%;
		}

		video {
			flex: none;
			width: 100%;
			height: 100%;
		}

		&.is-inited {
			.about-women-video__btn {
				display: none;
			}

			video {
				display: none;
			}
		}
	}

	&__btn {
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		background-color: #2b2d3c;
		transition: background-color 0.2s cubic-bezier(0.25, 0.1, 0.25, 0.1);
		cursor: pointer;

		svg {
			width: 15px;
			height: 15px;
			fill: $color-white;
			transition: fill 0.2s cubic-bezier(0.25, 0.1, 0.25, 0.1);
		}

		.is-device-desktop &:hover {
			background-color: $color-white;

			svg {
				fill: #20222d;
			}
		}
	}

	&__title {
		margin-top: 30px;
		margin-left: 33px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.33;
		color: #20222d;
	}

	&__duration {
		margin-top: 9px;
		margin-left: 33px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #181a22;
	}
}
