// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$color-accent: #e6cd77;
$color-accent1: #d3e8e5;
$color-accent2: #f7f5d2;

$color-codgray: #1a1a1a;
$color-btn: #f5db87;

// FONTS
$font-merriweather: "Merriweather", serif;
$font-manoldstyle: "Bookman Old Style", serif;
$font-alegreya: "Alegreya SC", serif;
