.contacts-netbg {
	padding-top: 220px;
	padding-bottom: 120px;
	background: url("../images/netbg.png") 49.95% 0;
}

.contacts-social {
	.heading {
		&__desc {
			max-width: 350px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto -80px;
		max-width: 970px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 80px;
		padding: 40px;
		width: 445px;
		height: 296px;
		color: $color-white;
		background-color: #181a22;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			width: 5px;
			height: 100%;
		}

		&--ig::after {
			background-image: linear-gradient(88deg, #fdcc71, #db506e 51%, #953aac);
		}

		&--yt::after {
			background-color: #cd201f;
		}

		&--fb::after {
			background-color: #3b5999;
		}

		&--vk::after {
			background-color: #4c75a3;
		}
	}

	&__name {
		margin-bottom: 15px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.33;
	}

	&__desc {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
	}

	&__btn {
		margin: auto 0 0;
		width: 307px;

		.number {
			margin-left: 0;
			margin-right: auto;
			font-family: $font-merriweather;
			font-size: 12px;
			line-height: 1.83;
			letter-spacing: 1.8px;
		}

		svg {
			margin-left: auto;
			margin-right: 24px;
			width: 24px;
			height: 24px;
			fill: $color-white;
		}

		&.button {
			margin: auto 0 0;
		}
	}
}

.contacts-geo {
	margin-top: 120px;
	margin-bottom: -80px;

	.heading {
		&__desc {
			max-width: 375px;
		}

		&__line {
			margin-left: -50px;
		}
	}

	&__list {
		margin: auto;
		max-width: 970px;
	}
}

.address {
	position: relative;
	margin-bottom: 80px;
	padding: 60px 60px 0 0;
	width: 100%;
	height: 478px;

	&__video {
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: 566 / 970 * 100%;
		height: 418px;

		video {
			display: block;
			flex: none;
			width: 100%;
			height: 100%;
			object-fit: cover;

			.is-browser-ie & {
				height: auto;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 51px 500px 67px 60px;
		height: 100%;
		font-size: 16px;
		line-height: 1.75;
		color: $color-white;
		background-color: #181a22;
	}

	&__title {
		margin-bottom: 5px;
		font-size: 32px;
		line-height: 1.31;
	}

	&__subtitle {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
	}

	&__contacts {
		margin-top: auto;

		&__title {
			font-weight: 300;
			font-size: 14px;
			line-height: 1.71;
			letter-spacing: 0.3px;
			color: #aaadb9;
		}

		&__text {
			a {
				display: inline-block;
				border-bottom: 1px dotted $color-white;
				white-space: nowrap;
				line-height: 1.3;
				text-decoration: none;
				color: $color-white;
			}
		}
	}

	&__mail {
		margin-top: 30px;
	}

	&--left {
		padding: 60px 0 0 60px;

		.address__video {
			left: 0;
			right: auto;
		}

		.address__content {
			padding: 51px 60px 67px 566px;
		}
	}
}

.contacts-support {
	margin-top: 120px;

	.heading {
		&__text {
			max-width: 650px;
		}

		&__desc {
			max-width: 320px;
		}
	}

	.slider-pagination {
		position: static;
		display: none;
		margin-top: 30px;
	}

	&__list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: auto;
		max-width: 970px;
	}
}

.support {
	position: relative;
	padding: 40px 20px 0 0;
	width: 298px;
	height: 427px;
	box-sizing: border-box;

	&__img {
		position: absolute;
		right: 0;
		top: 0;
		overflow: hidden;
		width: 258 / 298 * 100%;
		height: 184px;
		background-color: rgb(32, 34, 45);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.4;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 173px 36px 39px 43px;
		height: 100%;
		font-size: 16px;
		line-height: 1.75;
		color: $color-white;
		background-color: #181a22;
	}

	&__name {
		margin-bottom: 5px;
	}

	&__title {
		font-weight: 300;
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 0.3px;
		color: #aaadb9;
	}

	&__phone {
		margin-top: auto;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
	}

	&__mail {
		margin-top: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;

		a {
			text-decoration-style: dotted;
			color: $color-white;
		}
	}
}

.contacts-files {
	position: relative;
	padding: 120px 0;
	background-color: #e6cd77;

	.heading {
		&__text {
			max-width: 550px;
		}

		&__desc {
			max-width: 440px;
		}
	}

	.slider-pagination {
		position: static;
		display: none;
		margin-top: 30px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto -80px;
		max-width: 970px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 80px;
		padding: 40px;
		padding-right: 60px;
		width: 445px;
		height: 296px;
		box-sizing: border-box;
		color: #20222d;
		background-color: #edd480;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			width: 5px;
			height: 100%;
			background-color: #2b2d3c;
		}
	}

	&__name {
		margin-bottom: 15px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.33;
	}

	&__desc {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.3px;
	}

	&__btn {
		margin: auto 0 0;
		width: 216px;
		color: #20222d;

		svg {
			margin-right: 15px;
			margin-left: auto;
			width: 24px;
			height: 24px;
			fill: #20222d;
		}

		span {
			margin-left: 0;
		}
	}
}

.contacts-callback {
	display: none;
	margin-bottom: 90px;
}
